name: NotifyMe.Worker - Daily Run

on:
  schedule:
    - cron: "30 17 * * *"
  workflow_dispatch:

jobs:
  run-worker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Run NotifyMe.Worker
        env:
          DOTNET_ENVIRONMENT: Production
        run: dotnet run --configuration Release --no-build --project ./NotifyMe.Worker/NotifyMe.Worker.csproj
